header{
	/* align-item: center; */
	/* align-content: center */
	text-align: center;
	height: 150px;
	background-color: rgb(46, 221, 203);
	color: white;

}

nav{
	background-color: black;
	padding: 5px;
}

nav a {
	color: white;
	justify-items: space-around;
	margin-right: 10px;
	text-decoration: none;
}

.container {
	display: flex;
}

.my-image{
	background-color: grey;
	padding: 10px;
	margin: 15px;
	height: 120px;
}

.text{
	margin: 15px;
	font-family: sans-serif;
}

.t-image {
	background-color: grey;
	padding: 15px;
	margin: 15px;
	height: 20px;
}

.f-image {
	background-color: grey;
	padding: 10px;
	margin: 15px;
	height: 120px;
	width: 1000px;
}

footer {
	text-align: center;
	height: 70px;
	color: black;
	background-color: rgb(120, 208, 208);
}

body {
	margin: 35px;
}

.icon ion-icon{
	color: white;
	font-size: 22px;
	padding-left:14px ;
	padding-top: 5px;
	transition: .3s ease;
}

.icon ion-icon:hover{
	color: orange;
}


li{
	float: right;
	margin: 10px;
	color: white;
	list-style: none;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
}